*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    padding: 0 2rem;
    background-color:rgb(0, 0, 0, 0.1);
    color: rgb(73, 25, 74)
}
header img{
    width: 100%;
    height: 110px;
}
ul {
    display: flex;
    list-style: none;
}
nav ul li a{
    margin: 0 2rem;
    color:rgb(73, 25, 74);
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav a:hover {
    color: #cf7979;
    font-size: 1.2rem;
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    color: brown;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}
@media only screen and (max-width:1024){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: blue;
        transition: 1s;
        transform:translateY(-100vh)
    }
    header .responsive-nav{
        transform: none;
    }
     header nav .nav-btn .nav-close-btn{
        position: absolute;top: 2rem;
        right: 2rem;
     }
    header nav a{
        font-size: 1.5rem;
    }
}